* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: #555;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background-color: #26828d;
    padding: 80px;
    padding-top: 10px;
    margin: 0 auto;
}

.inicio {
    color: white;
    font-size: 40px;
    text-align: center;
}

.cor {
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}

.navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: white
}

.navegacao button {
    border: none;
    font-size: 20px;
    color: #26828d;
    background-color: white;
    cursor: pointer;
    padding: 5px;
}


.navegacao button:hover {
    background-color: #26828d;
    color: white;
    transform: scale(1.05);
}

.certo-errado {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-right: 30px;
}

.cores {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 80px;
    justify-content: center;
    margin-top: 10px;
}

.cores button {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.cores button:hover {
    transform: scale(1.05);
}

@media (max-width: 1280px) {
    .cores {
        grid-template-columns: repeat(3, 120px);
        grid-gap: 60px;
    }

    .cores button {
        width: 120px;
        height: 120px;
    }
}


@media (max-width: 425px) {
    header {
        padding: 40px;
    }

    .inicio {
        font-size: 30px;
    }

    .cor {
        font-size: 25px;
        margin-top: 30px;
    }

    .navegacao {
        flex-direction: column;
        gap: 20px;
    }

    .navegacao button {
        font-size: 18px;
        padding: 10px;
    }

    .certo-errado {
        font-size: 20px;
    }

    main {
        margin-right: 0;
    }

    .cores {
        grid-template-columns: repeat(2, 100px);
        grid-gap: 20px;
    }

    .cores button {
        width: 100px;
        height: 100px;
    }
}